@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap');
.main-box{
    background-color: #F2F4F7 !important;
    font-family: 'Roboto Condensed', sans-serif !important; 

}
.input-box{
width: 100vw;
height: 70vh;
box-shadow: 0px 0px 4px #E6E8EA;

}
.translated-box{
    width: 100vw;
    height: 70vh;

    
}
.translate-btn{

    width: 99% !important;
    background-color: #FFFFFF !important;
    border: none !important;
    color: gray !important;
    border-radius: 0px !important;
    text-transform: uppercase;
    margin: 10px auto !important;
    box-shadow: 0px 0px 8px #E6E8EA;
    transition: 0.3s all linear;
    font-family: 'Roboto Condensed', sans-serif !important; 
    }
.translate-btn:hover{
    background-color: #eeeeee !important;
    

}
.full_height_Width{
    width: 100%;
    height: 100% !important;
    border-radius: 5px;
    padding: 10px;
    border: none !important;
    outline: none !important;
    background-color: white;
    box-shadow: 0px 0px 10px #E6E8EA;


}
.input-div{
    height: 90%;
    padding: 0px !important;
}
.input-div h4{
    text-align: center;
    margin-top: 5px;
}
.output-div{
    background-color: #840083;
    width: fit-content;
    height: fit-content;
    padding: 10px 8px;
    padding-bottom: 0px;
    border-radius: 5px;
    text-align: center;
}
.output-normal{
    display: flex;
    flex-direction: row;
}
.other-div{
    width: fit-content !important;
    height: fit-content !important;
    margin-left: 5px;
}
.text{
    border-radius: 2px ;

background-color: white;
margin-bottom: 4px !important;
    color: black;
}
.category{
    color: white;
    padding-bottom: 5px;
    text-transform: uppercase;
}